    <header class="p-3 bg-primary text-white" style="max-height:100px;">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center" style="max-height:100px;">
      <img height="15%" width=15%; alt="LogoIEEE" src="images/universidad_latina_Logo.png">
    </div>
  </div>
</header>
    
    <nav class="navbar shadow-sm navbar-expand-lg navbar-light bg-light sticky-top" style="min-height:75px;">
  <div class="container-fluid">
    <img class="mx-1" src="images/ieee-logo-desktop.png" style="height: 23.5px; width: 80px; border-right-color: black !important;" />
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link border-end active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item border-end">
          <a class="nav-link" href="#">Noticias</a>
        </li>
                <li class="nav-item border-end">
          <a class="nav-link" href="#">Eventos</a>
        </li>
        <li class="nav-item border-end">
          <a class="nav-link" href="#">Junta Directiva</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
        <li class="nav-item border-end">
          <a class="nav-link" href="#">Beneficios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre nosotros</a>
        </li>
      </ul>
      <div class="col-3 text-end">
        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#LoginModal">
          Iniciar Sesion
        </button>
        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#SignupModal">
          Registrarse
        </button>
      </div>

    </div>
  </div>
</nav>